.navbar {
  /* z-index: 5; */
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
}

.home {
  color: yellow !important;
}

.eap {
  color: white !important;
}

.menuitem {
  font-weight: 600;
  margin: 0px 10px;
  border-bottom: 3px solid transparent;
  width: fit-content;
  height: fit-content;
}

.menuitem:hover {
  color: yellow !important;
  border-bottom: 3px solid yellow;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 992px) {
  .menuitem {
    text-align: center;
    margin: 10px 0;
  }

  .contactme {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
}
