.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  background-color: rgb(30, 30, 30);
}

.mnavbar{
  display: none;
}

.lnavbar.hidden {
  transform: translateY(-100%);
}

.navbar-toggler {
  background-color: rgb(70, 70, 70);
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  width: 100vw;
  background-color: rgb(30, 30, 30);
}

.menuitem {
  font-weight: 700;
  margin: 0px 20px;
  border-bottom: 3px solid transparent;
  width: fit-content;
  height: fit-content;
  color: white !important;
}

.menuitem:hover {
  color: yellow !important;
  cursor: pointer;
}

@media (max-width: 992px) {
  .menuitem {
    text-align: center;
    margin: 10px 0;
  }

  .lnavbar{
    display: none;
  }

  .mnavbar{
    display: block;
  }

}
