.intro {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  position: relative;
}

.space-background {
  position: absolute;
  z-index: 0;
  height: 100vh;
  width: 100vw;
}

.introContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem 0 0 2rem;
  z-index: 3;
  background-color: transparent;
}

.imageContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  z-index: 0;
}

.parah1 {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 900;
  font-size: 5rem;
}

.parah2 {
  color: white;
  font-weight: 700;
  font-size: 3rem;
}

.parah3 {
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.yellow {
  color: yellow;
}

.image {
  height: 120%;
  width: 120%;
  object-fit: cover;
  position: relative;
  left: 10%;
  overflow: visible;
  z-index: 3;
}

@media (max-width: 767px) {
  .parah1 {
    font-weight: 900;
    font-size: 3rem;
  }

  .parah2 {
    font-weight: 700;
    font-size: 2rem;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
      2px 2px black, -2px -2px black, -2px 2px black, 2px -2px black;
  }

  .parah3 {
    font-weight: 700;
    font-size: 0.8rem;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
      2px 2px black, -2px -2px black, -2px 2px black, 2px -2px black;
  }
  .introContent {
    padding: 1rem;
  }
  .intro {
    margin-top: 40px;
    height: calc(100vh - 40px);
  }
}
