.App {
  background: rgb(30, 30, 30);
  width: 100%;
}

html {
  scroll-behavior: smooth !important;
}

.knowme {
  overflow: hidden;
}

.home {
  height: 100dvh;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 768px) {
  .classsec {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100dvh;
  }

  section {
    scroll-snap-align: start;
  }

  /* Hide scrollbar but allow scrolling */
  .App {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
  }

  .App::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
}
