.App {
  background: rgb(30, 30, 30);
  width: 100%;
}

html {
  scroll-behavior: smooth !important;
}

.knowme {
  overflow: hidden;
}

.home {
  height: 100%;
  width: 100%;
  overflow: hidden;
}


@media (min-width: 768px) {
  .classsec {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100dvh;
  }

  .classsec::-webkit-scrollbar {
    display: none;
  }

  section {
    scroll-snap-align: start;
  }
}
